h2 {
  font-family: Verdana;
  font-size: 2em;
  margin: 0;
  padding: 0.1em;
  padding-left: 1em;
  text-align: center;
  font-weight: plain;
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box;
  margin-top: 6px; /* Top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  margin-top: 150px;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
  width: 1200px;
}

.left {
  position: absolute;
  float: left;
  margin-left: 300px;
  width: 300px;
  text-align: center;
  height: 150px;
}

.left img {
  justify-content: center;
  margin: auto;
}

#title-holder {
  margin-left: calc(((100% - 1200px - 150px) / 2) + 600px);
  margin-top: -30px;
  width: 150px;
  height: 150px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  white-space: nowrap;

  display: flex; /* Enable flexbox */
  justify-content: center; /* Center horizontally */
  text-align: center; /* Ensure text is centered if it wraps */
}

.right {
  float: right;
  margin-left: calc((100% - 1200px - 150px) / 2);
  width: 300px;
  text-align: center;
}

#title-holder p {
  font-size: 70px;
}

#content {
  display: inline-flex;
  width: 100%;
}

/*Gears and arrows-----------------------------------------------*/
.left-corner img {
  position: absolute;
  width: 25vh;
  top: 7.26vh;
  left: 0vh;
}

.right-corner img {
  position: absolute;
  width: 25vh;
  bottom: 0vh;
  right: 0vh;
  transform: rotate(180deg);
}
/*End gears and arrows-----------------------------------------------*/