body {
  background-color: white;
  overflow-x: hidden;
}

#title-holder {
  display: table;
  position: relative;
  margin: auto;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

#title-holder p {
  font-size: 70px;
}

.text-block {
  font-family: "Rosario", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 60%;
  justify-content: center;
  margin: auto;
}

.text-block p {
  font-size: x-large;
}

/*Gears and arrows-----------------------------------------------*/
.green-gear {
  position: absolute;
  width: 35vw; /* Use viewport width for scaling */
  top: 17vh; /* Use viewport height for positioning */
  left: -14vw; /* Use viewport width for positioning */
  transform: rotate(15deg);
  z-index: 0;
}

.red-gear-other-side {
  position: absolute;
  width: 32vw;
  top: 35vh;
  right: -15vw;
  transform: rotate(25deg);
  z-index: 1;
}

.yellow-gear-other-side {
  position: absolute;
  width: 20vw;
  top: 15vh;
  right: -10vw;
}

.green-arrow-other-side {
  position: absolute;
  width: 20vw;
  top: 90vh;
  right: 0vw;
}

.green-gear-other-side {
  position: absolute;
  width: 30vw;
  top: 150vh;
  right: -15vw;
  transform: rotate(10deg);
}

.yellow-arrow {
  position: absolute;
  width: 20vw;
  top: 120vh;
  left: 0vw;
}

.red-gear-corner {
  position: absolute;
  width: 19vw;
  bottom: -125vh;
}
/*End gears and arrows-----------------------------------------------*/

/*Slideshow stuff-----------------------------------------------*/
.slideshow-container {
  max-width: 60%;
  width: 100%;
  max-height: 440px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  display: none;
}

img {
  width: 100%;
  object-fit: cover;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.prev {
  float: left;
}
.next {
  float: right;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/*End slideshow stuff-----------------------------*/
