@font-face {
  font-family: "verdana";
  src: local("verdana"), url(../assets/fonts/verdana.ttf) format("truetype");
}

@font-face {
  font-family: "BebasNeue-Regular";
  src: local("BebasNeue-Regular"),
    url(../assets/fonts/BebasNeue-Regular.ttf) format("truetype");
}

h2 {
  font-family: verdana;
  font-size: 2em;
  margin: 0;
  padding: 0.1em;
  padding-left: 1em;
  text-align: center;
  font-weight: plain;
}

input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px;
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box;
  margin-top: 6px; /* Top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  margin-top: 150px;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
  width: 1500px;
  padding: 20px;
  height: 500px;
  padding-bottom: 50px;
}

.left {
  flex: 1;
  text-align: center;
  height: 150px;
}

.left img {
  justify-content: center;
  margin: auto;
  height: 50px;
  width: 50px;
}

.title-holder {
  height: 150px;
  font-family: "BebasNeue-Regular";
  font-weight: 400;
  font-style: normal;
  color: black;
  white-space: nowrap;

  text-align: center; /* Ensure text is centered if it wraps */
}

.right {
  flex: 1;
  text-align: center;
}

.right img {
  height: 55px;
  width: 55px;
}

.title-holder {
  flex: 1;
  font-size: 70px;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*Gears and arrows-----------------------------------------------*/

.right-corner img {
  position: absolute;
  width: 25vh;
  bottom: 0vh;
  right: 0vh;
  transform: rotate(180deg);
}
/*End gears and arrows-----------------------------------------------*/

.comment {
  height: 50px;
}
