@font-face {
  font-family: "Questrial-Regular";
  src: local("Questrial-Regular"),
    url(../../assets/fonts/Questrial-Regular) format("truetype");
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#foot-content {
  background-image: url("./assets/images/footer-background.png");
  background-size: 100%;
  position: absolute;
  bottom: -100;
  width: 100%;
}

#word-content {
  padding-top: 3rem;

  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#brand-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
}

#brand-logo p {
  font-weight: 100;
}

h4,
p {
  padding: 0;
  margin: 5px;
}

#quick-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#quick-links ul li a {
  color: black;
  text-decoration: underline;
  font-weight: 100;
}

#contact p {
  font-weight: 100;
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  gap: 1rem;
  font-size: 3rem;
}

#terplink {
  width: 3rem;
}
