@font-face {
  font-family: "Questrial-Regular";
  src: local("Questrial-Regular"),
    url(./assets/fonts/Questrial-Regular) format("truetype");
}

@font-face {
  font-family: "PlusJakartaSans-VariableFont_wght";
  src: local("PlusJakartaSans-VariableFont_wght"),
    url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf) format("truetype");
}

body {
  margin: 0;
}

nav {
  background-color: #000000;
  overflow: hidden;
  color: white;
  padding: 15px;
  height: 30px;
  font-family: "PlusJakartaSans-VariableFont_wght";
  display: flex;
  box-shadow: 10px 5px 5px black;
}

nav #name {
  font-family: "PlusJakartaSans-VariableFont_wght";
  flex: 3;
}

#left-side {
  flex: 6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  font-size: xx-large;
}

nav #brand-logo {
  flex: 5;
  display: flex;
  justify-content: flex-start;
}

nav #brand-logo img {
  width: auto;
  height: 40px;
}

.links {
  display: flex;
  flex: 10;
  font-size: medium;

  font-family: "PlusJakartaSans-VariableFont_wght";
  font-weight: 400;
  font-style: normal;

  justify-content: flex-end;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

nav a:hover {
  color: #b80000;
}

@media only screen and (max-width: 400px) {
  #left-side {
    flex: 50;
    background-color: #b80000;
  }

  #brand-logo {
    flex: 1;
    background-color: aqua;
  }

  #name {
    background-color: bisque;
    flex: 10;
  }
}
